# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local

# Projects & Data
# เราจะข้ามโฟลเดอร์โปรเจกต์เพื่อให้ Git ติดตามแค่ตัวโปรแกรม Z-Sync เท่านั้น
projects/

# Snapshots & Logs
*.log
map_context.json
.DS_Store
Thumbs.db
